{% extends 'base.html' %}

{% block content %}
    <h1>All My Projects</h1>

    {% for project in projects %}
        <div class="project">
            <h3>
                <a href="{% url 'project_detail' project.pk %}">
                    {{ project.title }}
                </a>
            </h3>

            {% if project.image %}
                <img src="{{ project.image.url }}" alt="{{ project.title }}">
            {% endif %}

            <p>{{ project.description|truncatewords:30 }}</p> </div>
    {% endfor %}
{% endblock %}