{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg-8"> <h1 class="mb-3">{{ project.title }}</h1>
            <hr>

            {% if project.image %}
                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-fluid rounded mb-4">
            {% endif %}

            <p style="white-space: pre-wrap;">{{ project.description|linebreaks }}</p>

            {% if project.link %}
                <a href="{{ project.link }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                    Visit project &rarr;
                </a>
            {% endif %}

            <a href="{% url 'project_list' %}" class="btn btn-secondary">
                &larr; Go back to Projects
            </a>

            <a href="{% url 'home' %}" class="btn btn-secondary">
                &larr; Go back to Home
            </a>

        </div>
    </div>

{% endblock %}